   * {
            padding: 0;
            margin: 0;
            overflow-x: hidden;
        }

        .list {
            display: flex;
            gap: 1.4em;
            margin-right: 5em;
        }

        .header {
            display: flex;
            position: fixed;
            width: 100%;
            justify-content: space-between;
            padding-left: 2em;
            padding-right: 2em;
            background-color: black;
            color: white;
            /* height: 50px; */
            padding: 1em;
        }

        ul {
            display: flex;

            gap: 2em;
            list-style: none;
            margin-top: 0.5em;
            font-size: 1em;
        }

        button {
            width: 20%;
            text-align: center;
            background-color: brown;
            border-radius: 0.5em;
            border: none;
            color: white;
            padding: 1em;
        }

        .sectionone {
            /* padding-top: 8em; */
            text-align: center;
            
            font-size: 2em;
            /* align-items: center; */
        }

    .luul{
        text-align: center;
        background-color: rgb(62, 54, 124);
        color: white;
        padding-top: 2em;

    }
    .sawir1{
        /* background-color: rgb(62, 62, 103); */
        color: white;
        width: 24%;
        margin-left: 2em;
        height: 60vh;
        /* border-radius: 1em; */
        text-align: center;
        /* margin-right: 2em; */
    }
    .sawir1 img{
        /* margin-top: 1em; */
        width: 300px;
    }
    .sawir{
        display: flex;
         background-color: rgb(62, 54, 124);
         justify-content: space-around;
         gap: 10em;
         text-align: center;
          /* height: 50px; */
          /* padding: 2em; */
          padding-top: 2em;
          padding-bottom: 3em;

    }