   * {
            padding: 0;
            margin: 0;
            overflow-x: hidden;
        }

        .list {
            display: flex;
            gap: 1.4em;
            margin-right: 5em;
        }

        .header {
            display: flex;
            position: fixed;
            width: 100%;
            justify-content: space-between;
            padding-left: 2em;
            padding-right: 2em;
            background-color: black;
            color: white;
            /* height: 50px; */
            padding: 1em;
        }

        ul {
            display: flex;

            gap: 2em;
            list-style: none;
            margin-top: 0.5em;
            font-size: 1em;
        }

        button {
            width: 20%;
            text-align: center;
            background-color: brown;
            border-radius: 0.5em;
            border: none;
            color: white;
            padding: 1em;
        }

        .sectionone {
            margin-top: 4em;
            text-align: center;
            font-size: 1.7em;
            /* align-items: center; */
        }

        .yuukey {

            /* height: 45vh; */
            /* text-align: start; */

        }

        .yuukey i {
            background-color: red;
            border-radius: 50%;
            color: white;
            width: 50px;
            height: 50px;
            /* padding: 2em; */
            align-items: center;
            font-size: 1.6em;
            text-align: center;
            height: 6vh;

        }

        .baba {
            display: flex;
            justify-content: center;
            gap: 10em;
            /* height: 60vh; */
            margin-top: 5em;


        }

        .yuukey1 i {
            background-color: red;
            border-radius: 50%;
            color: white;
          
            width: 50px;
            height: 50px;
            font-size: 2em;
            text-align: center;
            height: 6vh;

        }

        .baba1 {
            display: flex;
            justify-content: center;
            gap: 10em;
            height: 60vh;
            margin-top: 5em;


        }
    .luul{
        text-align: center;
        background-color: black;
        color: white;
        padding-top: 2em;

    }
    .sawir1{
        background-color: rgb(62, 62, 103);
        color: white;
        width: 24%;
        margin-left: 2em;
        height: 60vh;
        /* border-radius: 1em; */
        text-align: center;
        margin-right: 2em;
    }
    .sawir1 img{
        /* margin-top: 1em; */
        width: 300px;
    }
    .sawir{
        display: flex;
         background-color: black;
         justify-content: space-between;
          /* height: 50px; */
          /* padding: 2em; */
          padding-top: 2em;
          padding-bottom: 3em;

    }