.auth-wrap{display:grid;
    place-items:center;
    min-height:80vh;
}
.auth-card{background:rgb(49, 49, 49);
    padding:28px;
    border-radius:12px;
    width:380px}
.form-group{
    margin-bottom:12px;
}
input[type=text], input[type=password]{
    width:100%;
    padding:10px;
    border-radius:8px;
    border:1px solid rgb(8, 8, 8);
    background:transparent;
    color:rgb(249, 248, 248);
}

body{
    background-color: black;
    color: white;
}
.btn{
    background-color: red;
}